.social-button{
    width: 210px;
    margin-top: 10px;
    cursor: pointer;
    
}
.social-button-container{
    text-align: center;
}

@media only screen and (max-width:576px){
    .container{
        width: 80% !important;
    }
}