@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.banner-title{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 70px;
    color: rgb(8, 192, 1);
}
.banner-subtitle{
    color: #FFC107;
    font-weight: 600;
    font-size: 30px;
}
.banner-des{
    color: 757575;
    font-weight: 600;
}
.carousel-control-next,.carousel-control-prev{
    display: none;
}